<html>
    <head>
        <script type="text/javascript" src="libs/vue.js"></script>
        <script type="text/javascript" src="libs/axios.js"></script>
    </head>
    <body style="background-color: aquamarine;">
        <a href="index.html">Home</a>
        <div id="update" style="text-align: center; font-size: large;">Actualizare carte cu id-ul: {{ id }} <br>
            <div class="label">Title:</div>
            <input type="text" v-model="book.title"><br><br>
            <div class="label">Author:</div>
            <input type="text" v-model="book.author"><br><br>
            <div class="label">Price:</div>
            <input type="text" v-model="book.price"><br><br>
            <div class="label">Publisher:</div>
            <input type="text" v-model="book.publisher"><br><br>
            <div class="label">Edition:</div>
            <input type="text" v-model="book.edition"><br><br>
            <div class="label">Year:</div>
            <input type="text" v-model="book.year"><br><br>
            <button  v-on:click="update(book.id)" >Save</button>

            <p>{{message}}</p>

        </div>

        <script src="src/update.js"></script>
    </body>
</html>